body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 320px;
    border: 2px solid cyan;
    box-shadow: 8px 8px 12px rgb(89, 150, 150);
    border-radius: 10px;
}

.card img {
    width: 100%;
}

.card h2 {
    text-align: center;
    writing-mode: vertical-rl;
    float: right;
    margin: 10px 0;
    font-size: 32px;
}

.card p {
    margin: 8px;
}

.card figcaption {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}